.about {
  margin: auto;
  display: flex;
  width: 80vw;
  flex-flow: column;
  align-items: center;
  justify-content: space-around;

  @media (min-width: 1280px) {
    flex-flow: row;
  }

  .info__wrapper {
    @media (min-width: 768px) {
      width: 500px;
    }

    &__name {
      color: white;
      background-color: black;
      font-size: 2rem;
      font-weight: bold;
      text-align: center;

      @media (min-width: 768px) {
        font-size: 3rem;
      }
    }

    &__about {
      margin: auto;
      font-size: 1.1rem;

      @media (min-width: 768px) {
        font-size: 2rem;
      }
    }
  }

  img {
    max-height: 250px;
    border-radius: 50%;

    @media (min-width: 768px) {
      max-height: 500px;
    }
  }
}
