.contact {
  background-color: #75461B;
  min-height: 100vh;

  form {
    display: flex;
    flex-flow: column;
    align-items: center;
  }

  h2 {
    color: #FDFDFB;
    font-size: 40px;
    text-align: center;
    margin: 0;
    padding: 10px 0 40px 0;
  }

  input {
    width: 70vw;
    height: 7vh;
    font-size: 30px;
    font-family: "Montserrat";
    margin-bottom: 10px;
  }

  textarea {
    width: 70vw;
    height: 50vh;
    font-size: 30px;
    font-family: "Montserrat";
  }

  button {
    margin-top: 20px;
    font-size: 20px;
    width: 150px;
    height: 40px;
    border-radius: 20px;
    border-color: #FFD011;
    background-color: #75461B;
    color: #FFD011;
    font-weight: 400;
    font-family: "Montserrat";
    text-transform: uppercase;
    &:hover {
      background-color: #FFD011;
      color: #FDFDFB;
    }
  }

  @media (max-width: 768px) {
    input, textarea {
      font-size: 20px;
    }
  }

  @media (min-width: 768px) {
    h2 {
      font-size: 80px;
    }
  }
}
