header {
  background: #FFD011;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  h1{
    margin: 0 0 10 0;
    color: #FDFDFB;
    max-width: 50%;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
  }

  img {
    max-height: 150px;
    border-radius: 50%;
  }

  .wrapper {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
  }

  @media (min-width: 768px) {
    h1 {
      font-size: 70px;
    }

    img {
      max-height: 300px;
    }

    .wrapper {
      display: flex;
      flex-flow: row;
      justify-content: space-around;
    }


  }
}
