.nav {
  padding: 1rem;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;

  &__wrapper {
    display: flex;
    flex-flow: column;
    max-width: 120px;
    font-size: 1.5rem;

    @media (min-width: 768px) {
      font-size: 3rem;
      max-width: 300px;
    }

    @media (min-width: 1280px) {
      font-size: 2.5rem;
      max-width: none;
      flex-flow: row;
    }
  }

  &__link {
    text-decoration: none;
    color: black;
    font-weight: bold;
    padding: 0.2rem;

    &__title {
      color: white;
      background-color: black;
    }

    &__border {
      border: 1.5px solid;
      padding: 2px 4px;
    }
  }
}
