.skills {
  background: #9b6a3e;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;

  h2 {
    color: #FDFDFB;
    font-size: 40px;
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  img {
    max-width: 100px;
    margin: 15px;
  }

  @media (min-width: 768px) {
    justify-content: flex-start;
    h2 {
      font-size: 80px;
    }

    img {
      max-width: 120px;
    }

    ul {
      columns: 2;
      -webkit-columns: 200px 2;
    }
  }

  @media (min-width: 1280px) {
    ul {
      columns: 2;
      -webkit-columns: 200px 4;
    }
  }
}
